<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shige.proper.mapper.SRoleMenuMapper">
    <select id="listMenu" resultType="com.shige.proper.entity.system.SMenu" parameterType="java.lang.Long">
       SELECT DISTINCT e.id,e.name,e.parentId,e.parentIdList,e.url,e.type,e.icon,e.createTime,e.createUserId,e.createUserName
       FROM s_user u, s_role_user r, s_role_menu m, s_menu e
       WHERE u.id = r.user_id AND r.role_id = m.role_id AND m.menu_id = e.id  and u.id =#{id} and u.is_delete=0 and e.is_delete=0
       order by orderNo
    </select>

    <select id="listMenuAll" resultType="com.shige.proper.entity.system.SMenu">
        select * from s_menu where is_delete=0 order by orderNo
    </select>
</mapper>
