<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shige.proper.mapper.SRoleMapper">
    <select id="findRoleList" resultType="com.shige.proper.entity.system.SRole" >
        select role.id,role.name,role.type,company.name as compName,role.state,role.created_name,role.created_at,role.modified_name,
        role.modified_at from s_role role left join s_company company on role.comp_id=company.id where 1=1
        <if test="compId.size>0 and compId!=null">
            and role.comp_id in
            <foreach collection="compId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 有查询公司名称，但查询结果为空-->
        <if test="compId.size==0 and compid!='' and compid!=null">
            and company.id = ''
        </if>
        <if test="name!=''and name!=null">
            and role.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!='' and type!=null">
            and role.type like CONCAT('%',#{type},'%')
        </if>
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>
    <select id="findRoleListNum" resultType="java.lang.Integer" >
        select count(role.id)
        from s_role role left join s_company company on role.comp_id=company.id where 1=1
        <if test="compId.size>0 and compId!=null">
            and role.comp_id in
            <foreach collection="compId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 有查询公司名称，但查询结果为空-->
        <if test="compId.size==0 and compid!='' and compid!=null">
            and company.id = ''
        </if>
        <if test="name!=''and name!=null">
            and role.name like CONCAT('%',#{name},'%')
        </if>
        <if test="type!='' and type!=null">
            and role.type like CONCAT('%',#{type},'%')
        </if>
        <if test="pageNo!=null and size!=null">
            limit #{pageNo},#{size}
        </if>
    </select>
</mapper>
